.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
    height: auto;
}

.location-body {
  padding: 80px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.location-title:not(:last-child) {
    margin-bottom: 14px;
}

.location-description {
    max-width: 490px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-light-gray);
}

.location-description:not(:last-child) {
    margin-bottom: 37px;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  scroll-snap-align: start;
}