.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  padding-top: 132px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 7px;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth; /* Плавность */
}

.family-image {
  scroll-snap-align: start;
}

