@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px;
  }
}

@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header,
  .banner {
    padding-inline: 15px;
  }

  .header-menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }

  .motivation-card {
    padding-block: 50px;
  }

  .motivation-card-image {
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }

  .join-us-body {
    padding-bottom: 80px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }

  .location {
    display: flex;
    flex-direction: column-reverse;
  }

  .family-image {
    height: 360px;
  }

  .calculate {
    padding-block: 100px;
  }

  .calculate-form-body {
    grid-template-columns: 1fr;
  }

  .calculate-button {
    width: 100%;
  }

  .calculate-inner {
    column-gap: 15px;
  }

  .calculate-table :is(td, th) {
    padding-block: 10px;
  }

  .calculate-table tfoot td {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }

  .banner-info::before {
    margin-right: 10px;
  }

  .banner-info {
    margin-bottom: 5px;
  }

  .motivation-card,
  .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }

  .motivation-card {
    padding-block: 30px;
    row-gap: 30px;
  }

  .motivation-card-image {
    max-width: 60%;
  }

  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }

  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .training-types-item {
    --traningTypesBgIconSize: 50px;
    row-gap: 10px;
  }

  .training-types--image {
    max-width: 120px;
  }

  .join-us-video-play-button {
    width: 140px;
    aspect-ratio: 1;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }

  .section-description {
    font-size: 16px;
  }

  .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .location-body {
    padding-block: 40px;
  }

  .location-description:not(:last-child) {
    margin-bottom: 20px;
  }

  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .family-body {
    column-gap: 12px;
  }

  .family-image {
    height: 180px;
  }

  .calculate {
    padding-block: 60px;
  }

  .calculate-inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .calculate-table-wrapper::before {
    display: none;
  }

  /* display: none; убераем чёрный фоновый круг */
}

/* section-banner------------------------------------*/
