
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *::before,
  ::after {
    box-sizing: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p:not([class]:last-child) {
    margin-bottom: 24px;
  }

  /* p:not([class]:last-child) берёт все теги p в контенере кроме последнего и все соседние p [class]-для безопасности это правило применяется только у тега p у которого нет class*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
  }
  a {
    display: inline-block;
    color: var(--color-light);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-light-gray);
  }

  a,
  button,
  input,
  textarea,
  svg * {
    transition-duration: var(--transition-duration);
  }
  
  img {
    max-width: 100%;
    word-break: normal;
    object-fit: cover;
  }

  body {
    min-width: 320px;
    max-width: 1920px;
    word-break: normal;
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 1.75;
    background-color: var(--color-dark);
    color: var(--color-light-gray);
  }